/**** BASE ****/
body {
    color: #888;   
}
a {
    color: #03a1d1;
    text-decoration: none;
}

/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
    font-size:medium ;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px;
}
.mrg-0 {
    margin: 0;
}
.btm-mrg-10 {
    margin-bottom: 10px;
}
.btm-mrg-20 {
    margin-bottom: 20px;
}

/* Color  */
.clr-535353 {
    color: #535353;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}


/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #artist-listings .artist-listings {
        padding: 5px;
    }
    #artist-listings .artist-listings a {
        margin: 0;
    }
    #artist-listings .artist-listings .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #artist-listings .artist-listings img {
        max-width: 180px;
    }
}
